.hero{
    height: 130vh;
    background-image: url('../../assets//heroI//heroInt.png');
    background-size: cover;
    background-position: -20% 100%  ;
    background-repeat: no-repeat;
}

@media (max-width:760px){
   .hero{
    height: 60vh;
    background-position: center;
    /* background-size: contain; */
    /* background-position: -10% 100%  ; */
   }
}
@media (max-width:1024px){
    .hero{
     height: 90vh;
     background-position: center;
     /* background-position: -10% 100%  ; */
    }
 }
 @media (max-width:524px){
    .hero{
     height: 70vh;
    
    }
 }