@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";
*{
    font-family: "Cormorant Garamond", serif;
    font-weight: 400,500,600,700;
}
.dm{
    font-family:'DM Sans', sans-serif;
}
.action{
        position: relative;
       
        background-position: 0% 30%  ;
        background-size: cover;   
        background-repeat: no-repeat;
    background-image: url('./assets/ser/action.png');
}
.aimg::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.2); /* dark overlay */
    z-index: 1;
    transition: all .3s linear;
  }

  .bef {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5); /* combines color and opacity */
    inset: 0;
    z-index: 100;
    backdrop-filter: blur(20px); /* blurs the background behind this element */
  }
  @media (max-width:1024px){
    .action{
        background-position: center;
        height: 80vh;
    }
  }