@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";
*{
    font-family: "Cormorant Garamond", serif;
    font-weight: 400,500,600,700;
}
.dm{
    font-family:'DM Sans', sans-serif;
}